* {
    font-family: arial, sans-serif;
}

*:focus {
    outline: none;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#central {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar li{
    display: inline;
}

#navbar {
    margin-top: 5px;
    display: flex;
    /* background-color: rgb(93, 173, 46); */
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    margin-left: 1580px;
}

#navbar button {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 13px;
    height: 30px;
    width: 77.7px;
    padding: 0;
}

#footer {
    font-family: arial,sans-serif;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 82px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    line-height: 40px;
    display: flex;
    border-top: 1px solid rgb(228, 228, 228);
    height: 50%;
    align-items: center;
    font-size: 13px;
    color: #5f6368;
}

#line1 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    padding: 0px 0px 0px 30px;
}

.footer_lines {
    display: flex;
    padding-right: 3px;
    padding-left: 3px;
}

.footer_elements {
    padding: 0px 0px 0px 27px;
}

#line2 {
    display: flex;
    justify-content: space-between;
    padding-right: 27px;
} 

button {
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    color: #5f6368;;
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
    border: 1px solid white;
}

button:hover {
    border: 1px solid #c6c6c6;
    color: #222;
    background-color: #f8f8f8;
}

input {
    border-radius: 50px;
    height: 2em;
    width: 450px;
    padding: 6px 4px 6px 4px;
    border: 1px solid #c6c6c6;
}

input:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

input:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

input[type="text"] {
    font-size: 16px;
    background-image: url("/home/manolis/the_odin_project/google-homepage/images/search-24px.svg"), url("/home/manolis/the_odin_project/google-homepage/images/keyboard-24px.svg"), url("/home/manolis/the_odin_project/google-homepage/images/mic-24px.svg");
    background-position: 3%, 90%, 97%;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-right: 90px;

}

#logo {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -100%);
}

#buttons {
    margin: auto;
    padding-top: 20px;
    /* background-color: red; */
    display: flex;
    width: fit-content;
    text-align: center;
}

a {
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0, 0.87);
}

#footer a {
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #5f6368;
}

#footer a:hover {
    text-decoration: underline;
    opacity: 1;
}

a:hover {
    opacity: 0.85;
    text-decoration: underline;
}