* {
    font-family: arial,sans-serif;
}

*:focus {
    outline: none;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.footer {
    background-color: grey;
}

#central {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar li{
    display: inline;
}

#navbar {
    display: flex;
    /* background-color: rgb(93, 173, 46); */
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

#navbar button {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    border: none;
}

.footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

button {
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    color: #5f6368;;
    padding: 0 16px;
    margin: 11px 4px;
    height: 36px;
    border: 1px solid white;
}

button:hover {
    border: 1px solid #c6c6c6;
    color: #222;
    background-color: #f8f8f8;
}

input {
    border-radius: 50px;
    height: 2em;
    width: 450px;
    padding: 6px 4px 6px 4px;
    border: 1px solid #c6c6c6;
}

input[type="text"] {
    font-size: 16px;
    background-image: url("/home/manolis/the_odin_project/google-homepage/images/search-24px.svg"), url("/home/manolis/the_odin_project/google-homepage/images/keyboard-24px.svg"), url("/home/manolis/the_odin_project/google-homepage/images/mic-24px.svg");
    background-position: 3%, 90%, 97%;
    background-repeat: no-repeat;
    padding-left: 45px;
    padding-right: 90px;

}

#logo {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -100%);
}

#buttons {
    margin: auto;
    padding-top: 20px;
    /* background-color: red; */
    display: flex;
    width: fit-content;
    text-align: center;
}